
/* css */
body {
  font-family: "Helvetica Neue", Helvetica;
  text-align: right;
  color: #ffffff;
  display: block;
  background-color: #ee0000;
}
.container {
  height: 220px;
  width: 540px;
  box-sizing:content-box;
  position: relative;
}

.blue {
  color: #70d1f9;
}
.green {
  color: #6fc503;
}
.red{
  background-color: #ee0000;
}
.title{
  font-size:4rem;
  text-align:center;
  z-index:1;
}
.saturday{
  line-height: 20px;
  font-weight: 300;
  padding-left:30px;
}
.special{
  padding-top:60px;
  line-height: 30px;
  font-weight: 300;
  padding-right: 50px;
}
.uptown{
  padding-top:60px;
  line-height: 20px;
  font-weight: 300;
  padding-right:50px;
}
h1 {
  font-size: 9rem;
}
p{
  font-size: .8rem
}
h2 {
  font-size: 1.3rem;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 61.5%;
    background-color: #ee008f;
}
