
/* css */
body {
  font-family: "Helvetica Neue", Helvetica;
  text-align: right;
  color: #ffffff;
  background-color: #ee008f;
}
.container {}

.blue {
  color: #70d1f9;
}
.green {
  color: #6fc503;
}
.red{
  background-color: #ee0000;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
